@media screen and (max-width: 767px) {

    .details-table {

        .table-cell p {
            font-size: 20px;
        }

    }

    .single-product {

        .purchase-details {
            grid-template-columns: 1fr ;
        }

        .product-description p {
            font-size: 22px;
        }

        .swiper {
            height: 400px;
        }

    }




}