@media screen and (max-width: 767px) {

    .systems--container {

        .systems--module-title {
            display: block;
            margin-bottom: 10px;

            a {
                border: 0px;
                padding: 0px;
                text-align: left;
            }
        }

        margin: 80px 0;

        details {
            border: 2px solid var(--white);
            border-radius: 12px;
            padding: 20px 10px;

            .description {
                font-size: 18px;
            }

            .system-info {
                padding: 0px;
            }

        }

        summary > * { 
            display: inline;
        }

        summary {
            font-size: 8vw;
        }

        li {
            border-bottom: 0px;
            margin: 0 0 20px 0;
        }

    }

}

