.post--container {

    margin-bottom: 40px;
    padding: 120px 0 0 0;

    h1 {
        text-transform: uppercase;
        font-size: 12vw;
    }

    .post--image {
        height: 500px;
        width: 100%;
        border: 2px solid var(--white);
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .post-excerpt {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

}